.parallax-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 300vh;
    width: 100%;
}

.layer {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    will-change: transform;
}
.layer-back {
    background: #F8B500;
    z-index: 1;
    animation: parallaxBack linear;
    animation-timeline: scroll();
}

.layer-middle {
    background: lightyellow;
    z-index: 2;
    animation: parallaxMid linear;
    animation-timeline: scroll();
}

.layer-front {
    background: #00ADB5;
    z-index: 3;
    animation: parallaxFront linear;
    animation-timeline: scroll();
}

@keyframes parallaxBack {
    from { transform: translate(-50%, -50%) translateY(0); }
    to { transform: translate(-50%, -50%) translateY(-120px); }
}

@keyframes parallaxMid {
    from { transform: translate(-50%, -50%) translateY(0); }
    to { transform: translate(-50%, -50%) translateY(-240px); }
}

@keyframes parallaxFront {
    from { transform: translate(-50%, -50%) translateY(0); }
    to { transform: translate(-50%, -50%) translateY(-360px); }
}
